<div class="col-md-12">
  <nb-card accent="primary" class="accent accent-primary">
    <nb-card-header>Order Product</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <div class="form-group" *ngIf="product.quantity > 1">
          <label nbTooltip="How much?">Quantity</label>
          <input #quantity type="number" nbInput fullWidth shape="rectangle" placeholder="Quantity"
            formControlName="quantity" />
        </div>
        <div class="form-group" *ngIf="product.negotiable">
          <label nbTooltip="How much is your offer for the product?" for="name">Offer (optional)</label>
          <input #offer type="number" nbInput fullWidth shape="rectangle" placeholder="Offer" formControlName="offer" />
        </div>
        <div class="form-group">
          <label for="contact">Contact (your phone number)</label>
          <input #contact type="text" nbInput fullWidth shape="rectangle" placeholder="Contact"
            formControlName="contact" />
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton fullWidth shape="rectangle" status="danger" (click)="cancel()">Cancel</button>
      <button nbButton fullWidth shape="rectangle" status="success" (click)="submitOrder()"
        [disabled]="!form.valid">Order</button>
    </nb-card-footer>
  </nb-card>
</div>