<div class="col-md-12">
  <nb-card accent="primary" class="accent accent-primary">
    <nb-card-header>Order Product</nb-card-header>
    <nb-card-body>
      <div>
        <p>Please Confirm your order!</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton fullWidth shape="rectangle" status="danger" (click)="cancel()">Cancel</button>
      <button nbButton fullWidth shape="rectangle" status="success" (click)="submitOrder()">Order</button>
    </nb-card-footer>
  </nb-card>
</div>