<!-- <form class="form">
  <label for="subject">Subject:</label>
  <input nbInput id="subject" type="text">

  <label class="text-label" for="text">Text:</label>
  <textarea nbInput id="text"></textarea>
</form> -->
<!-- <code>Table is just a mapping of objects to table rows with <code>ngFor</code></p> -->
<div class="col-md-12">

  <nb-card size="small" accent="primary" class="accent accent-primary">
    <nb-card-header>Select offer</nb-card-header>
    <nb-card-body>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">By</th>
            <th scope="col">Offered Price</th>
            <th scope="col">qty.</th>
            <th scope="col">Status</th>
            <th scope="col">Date Offered</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ offer.createdBy }}
            </td>
            <td>{{ offer.offerPrice | currency }}</td>
            <td>{{ offer.orderedQuantity }}</td>
            <td>{{ offer.status }}</td>
            <td>{{ offer.createdAt }}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Select Offer:</label>
            <nb-select id="category" size="small" shape="rectangle" status="success" placeholder="Select Offer" outline
              [(selected)]="selectedOffer">
              <nb-option *ngFor="let offer of offers" value={{offer.id}}>{{offer.createdBy}} -
                {{offer.offerPrice | currency}}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <!-- <div class="col-sm-8 containerfor">
        <h6 for="category" class="select-label">Select Offer:</h6>
      </div>
      <div class="row">
        <div class="col-md-8">
          <nb-select id="category" size="small" shape="rectangle" status="success" placeholder="Select Offer" outline
            [(selected)]="selectedOffer">
            <nb-option *ngFor="let offer of offers" value={{offer.id}}>{{offer.createdBy}} -
              {{offer.offerPrice | currency}}
            </nb-option>
          </nb-select>
        </div>
      </div> -->
     
      <button nbButton fullWidth shape="rectangle" status="danger" (click)="cancel()">Cancel</button>
      <button nbButton fullWidth shape="rectangle" class="col-md-3 small" status="success" (click)="submit()">Accept
      </button>
    </nb-card-footer>
  </nb-card>
</div>