@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  /deep/ .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }

  button {
    justify-content: space-around;
    padding: 0.75rem 10px;
    padding-bottom: 0.5rem;
    margin: 1rem 1rem;
    margin-top: 0rem;
    cursor: pointer;
  }
  nb-card-footer {
    display: flex;
    justify-content: space-around;
    border: none;
  }
}
::ng-deep {
  nb-layout-column {
    height: 80vw;
  }

  button + button {
    margin-left: 1rem;
  }

  .dialog-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @media (min-width: 40rem) {
    .dialog-card {
      width: 38rem;
    }
  }
}
