@import "../../@theme/styles/themes";
@import "~@nebular/theme/components/card/card.component.theme";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  nb-card-body {
    display: flex;
    flex-direction: column;
    //padding: 0;
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  .pointer {
    cursor: pointer;
  }

  .details {
    padding: 1.25rem 1.25rem 0;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }

  .nb-actions {
    flex-basis: 80%;
  }

  .image-card {
    padding: 0;
  }
  // .input-group {
  //   margin-bottom: 1rem;
  // }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }
  .full-width {
    flex: 1;
    min-width: 220px;
  }
  .select-label {
    padding-top: 1em;
    margin-left: 1em;
  }
  .flex-centered {
    margin: auto;
  }

  .title {
    text-align: center;
  }

  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  .text_right {
    float: right;
  }

  :host {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }

  .text-center {
    text-align: center;
  }

  .list {
    max-width: 550px;
    margin: auto;
  }

  li {
    margin-bottom: 5px;
  }
}
