<div class="row">
  <div *ngIf="offers[0]==null">
    <p>You don't have Any offer for any product!</p>
  </div>
  <div class="col-md-4" *ngFor="let offerproduct of products; let index = index;trackBy:trackByIndex;">
    <div>
      <nb-card size="large" accent="primary" class="accent accent-primary pointer">
        <nb-card-body>
          <div class="picture" [style.background-image]="'url('+ offerproduct.imageUrl+')'"></div>
          <div class="details">
            <div class="header">
              <div>
                <h6 class="text-primary text-justify">{{offerproduct.description.slice(0,40) + '....'}}</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="text-hint">Price</h6>
                <h6 class="text-danger">
                  {{offerproduct.price}} Birr
                </h6>
              </div>
              <section *ngFor="let offer of offers">
                <div class="col-md-12" *ngIf="offer.productId === offerproduct.id">
                  <h6 class="text-hint">Your Offer</h6>
                  <h6 class="text-danger">
                    {{offer.offerPrice}} Birr
                  </h6>
                </div>
              </section>
            </div>
            <section *ngFor="let offer of offers">
              <div class="row" *ngIf="offer.productId === offerproduct.id">
                <div class="col-md-2">
                  <h6 class="text-hint">Status</h6>
                </div>
                <div class="col-md-10">
                  <h6 class="text-info">
                    {{offer.status}}
                  </h6>
                </div>
              </div>
            </section>
          </div>
        </nb-card-body>
        <nb-card-footer >
          <button nbButton shape="rectangle" fullWidth status="danger" (click)="cancelOffer(offers[index])">Cancel
            Offer</button>
            <ng-container *ngFor="let offer of offers">
          <button *ngIf="offer.productId === offerproduct.id && offer.status === 'Accepted'" nbButton shape="rectangle" status="success" fullWidth
            (click)="order(offerproduct)">Order
            now</button>
            </ng-container>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>