<div class="row">
  <div class="col-md-5">
    <nb-card size="large" accent="primary" class="accent accent-primary">
      <nb-card-body>
        <div class="picture" [style.background-image]="'url('+ product.imageUrl+')'"></div>
        <div class="details">
          <div class="header">
            <div>
              <h5 class="text-primary">{{product.description}}</h5>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <h5 class="text-danger">
                {{product.price}} Birr
              </h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-4 text-info">
              <h5 class="text-info">
                <ngb-rating [(rate)]="starRate" [readonly]="readonly" max=5>
                </ngb-rating>
                <span class="current-rate"> {{ starRate }}</span>
              </h5>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button *ngIf="!cartAdded" nbButton fullWidth shape="rectangle" status="primary" (click)="addToCart()">Add to Cart</button>
        <button *ngIf="!offered" nbButton fullWidth shape="rectangle" status="success" (click)="order()">Order
          now</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-7">
    <nb-card accent="primary" class="accent accent-primary">
      <nb-card-header>Product Detail</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <div class="row">
            <ng-container *ngFor="let key of attributeKey; let i=index">
              <div class="details col-md-6">
                <h6 class="text-heading">{{key}}</h6>
                <section class="text-hint">
                  {{attributeValue[i]}}
                </section>
              </div>
            </ng-container>
          </div>
          <hr>
          <div class="row">
            <ng-container *ngFor="let key of productKey; let i=index">
              <div class="details col-md-6">
                <h6 class="text-heading">{{key}}</h6>
                <section class="text-hint">
                  {{productValue[i]}}
                </section>
              </div>
            </ng-container>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>