<div class="row">
  <div class="col-md-5">
    <nb-card size="large" accent="primary" class="accent accent-primary pointer">
      <nb-card-body>
        <div class="picture" [style.background-image]="'url(assets/images/eva.png)'"></div>

        <div class="details">
          <div class="title">
            React Native UI Kitten
          </div>
          <div class="description">
            React Native UI Kitten is a framework that contains a set of commonly used UI components styled in a
            similar
            way. The most awesome thing: you can change themes on the fly by just passing a different set of
            variables. 100%
            native. Give our kitten a try!
          </div>

        </div>
      </nb-card-body>

      <nb-card-footer>

        <button nbButton fullWidth shape="rectangle" status="primary">Add to Cart</button>
        <button nbButton fullWidth shape="rectangle" status="success">Buy now</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-7">
    <nb-card accent="primary" class="accent accent-primary pointer">
      <nb-card-body>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>