<div class="col-md-12">
  <nb-card accent="primary" class="accent accent-primary">
    <nb-card-header></nb-card-header>
    <nb-card-body>
      <div>
        <p>Are you sure you want to remove this product from your cart?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton fullWidth shape="rectangle" status="danger" (click)="cancel()">Cancel</button>
      <button nbButton fullWidth shape="rectangle" status="success" (click)="submit()">Confirm</button>
    </nb-card-footer>
  </nb-card>
</div>