<div class="row">
  <ng-container *ngFor="let category of categories">
    <div class="col-md-4" *ngIf="category.parentId===null">
      <nb-card accent="primary" class="accent accent-primary">
        <nb-card-header>{{ category.name }}</nb-card-header>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            {{node.item}}
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-form-field>
              <input matInput #itemValue placeholder="New item...">
            </mat-form-field>
            <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
          </mat-tree-node>

          <mat-tree-node class="width-control" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <ng-container *ngFor="let categorynode of categories">
              <ng-container
                *ngIf="node.item === categorynode.name  && (categorynode.parentId === category.id || categorynode.parent.parentId === category.id)">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.item}}
                <div class="addIcon">
                  <button mat-icon-button  (click)="open(node)" >
                    <mat-icon >add</mat-icon>
                  </button>
                </div>
              </ng-container>
            </ng-container>
          </mat-tree-node>
        </mat-tree>
      </nb-card>
    </div>
  </ng-container>
</div>