<div class="row">
  <div class="col-md-5">
    <nb-card size="medium" accent="primary" class="accent accent-primary pointer">
      <nb-card-body>
        <label for="typeahead-format">Search for a category:</label>
        <input (keyup)="onKey($event)" id="typeahead-format" type="text" nbInput fullWidth shape="rectangle" [(ngModel)]="model"
          [ngbTypeahead]="search" placeholder="Search category" />
        <hr>
        <pre>Category:</pre>
        <section>{{ model }}</section>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-7">
    <nb-card size="" accent="primary" class="accent accent-primary pointer">
      <nb-card-header>Block form</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11]">
            <div class="form-group">
              <label for="inputFirstName">First Name</label>
              <input id="inputFirstName" type="text" nbInput fullWidth shape="rectangle" placeholder="First Name" />
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn" nbButton status="primary" shape="rectangle" float="left">Submit</button>
        </div>
      </nb-card-body>

    </nb-card>
  </div>
</div>